.git
.github
.venv
.venv-wsl
__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.temp
*.part
*.crc

data/
tests/
sql/
src/

.env
.env.*
*.pem
*.key

spark-warehouse/
metastore_db/
derby.log

.DS_Store
Thumbs.db
